<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
            <title>Create Order.</title>
        </head>
    <body>
            <h1>SendIT</h1>
        <h2>Convinience, timely and fast delivery</h2>
           <form>
               <div>
                        <legend>Your Information</legend><br>
                        <label>
                             First Name: 
                             <input type="text" placeholder="Joseph">
                        </label>
                        <label>
                             Last Name:
                             <input type="text" placeholder="Bekalaze">
                        </label>
                        <label>
                             Phone Number:
                             <input type="text" placeholder="+256 999 555 5555" required>
                        </label>
                </div>
                <legend>Delivery Information<legend><br>
                <div>
                        <label> 
                                <input type="text" placeholder="Bukoto-street plot-112">
                                <h4>Destination:</h4>
                        </label>
                </div>    
           </form>
           <h3>
               check price:
               <a href="price.html">Pricing.</a>
           </h3>
           <button type="button">create order</button>
    </body>
    
</html>    