<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
            <title>Create Order.</title>
        </head>
    <body>
            <h1>SendIT</h1>

        <h2>Convinient, timely and fast delivery</h2>
        <h2>Create A SendIT Order</h2>
        <div class="left">
        <a  href="index.html">Logout</a>
       </div> 
           <form class="Judo">
            <div>
                    <legend>Your Information</legend><br>
                    <label>
                            First Name: 
                            <input type="text" placeholder="Joseph">
                    </label><br><br>
                    <label>
                            Last Name:
                            <input type="text" placeholder="Bekalaze">
                    </label><br><br>
                    <label>
                            Phone Number:
                            <input type="text" placeholder="+256 999 555 5555" required>
                    </label><br><br>
            
                    <label> 
                            Destination:
                            <input type="text" placeholder="Bukoto-street plot-112">
                    </label><br><br>
                    <label> 
                        Return Destination:
                        <input type="text" placeholder="Bukoto-street plot-112">
                </label>
                    <h3>
                        <legend>
                                check price:
                        </legend>    
                            <a href="price.html">Pricing.</a>
                        </h3>
                        <button type="submit">Create Order</button> 
            </div> 
    </body>
</html>    