<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>SendIT details</title>
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
        </head>
    <body> 
            <h1>SendIT</h1>
            <h3>Convinience, timely and fast delivery</h3>
            <div id="DT">
                <label>
                <h4>Current Orders</h4>
               </label>
                <p>Number of orders: 1</p>
                <p>Name: Bekalaze Joseph</p>
                <p>Price: UGX 10,000</p>
                <p>Order-Name: laze</p>
                <p>Status: pending</p>
                <p>pickup location: Bukoto-plot-112</p>
                <p>Destination: Bukoto-plot-112</p>
                   <h3>change destination</h3>
                <label>
                     <input class="me" type="text" name="destination">
                </label>
            </div>
            <div id="history">
                    <label>
                            <h3>Past Orders
                                    <p>Number of orders: 1</p> 
                            </h3>
                           </label>
                           <button type="button">display details</button>
            </div>

    </body>
</html>        