<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>SendIT details</title>
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
        </head>
    <body>
            <h1>SendIT</h1>
            <h2>welcome to your  current orders</h2>
            <div class="left">
                <a  href="history.html">History</a>
                <a  href="index.html">Home</a>
            </div><br><br><br><br><br> 
            <div id="DT">
            <div id="pick">
                <table>
                        <tr>
                          <th>Number of orders</th>
                          <th>Name</th> 
                          <th>Price</th>
                          <th>Order-Name</th>
                          <th>Status</th>
                          <th>Destination</th>
                          <th>Pickup Location</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Bekalaze Joseph</td>
                          <td>6USD</td>
                          <td>laze</td>
                          <td>Pending</td>
                          <td>Bukoto-plot-112</td> 
                          <td>Mukono block-131</td>
                        </tr>
                      </table>
                    </div>
                  <div id="bek">  
                <button type="button">cancel order</button><br><br>
                   <h3>change destination</h3> 
                <label>
                     <input class="me" type="text" placeholder="new destination" name="destination"><br>
                     <button type="button">Save</button>
                </label><br><br>
            </div>     
    </body>
</html>        