<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>SendIT details</title>
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
        </head>
    <body> 
            <h1>SendIT</h1>
            <h2>Convinient, timely and fast delivery</h2>
            <div class="left">
                <a  href="index.html">Home</a>
                 <a  href="delivery.html">Order</a>
            </div> 
            <div id="DT">
                <h3>All Orders:</h3>
                <div id="pick">
                <table>         
                            <tr> 
                                <th>order-id</th>
                                 <th>Distance</th>
                                 <th>Weight</th>
                                 <th>Price</th>
                                 <th>Destination</th>
                                 <th>Status</th>
                                 <td></td>
                            </tr>
                             <tr>         
                                       <td>1</td> 
                                       <td><5km</td>
                                       <td><10kg</td>
                                       <td>6USD</td>
                                       <td>Mukono</td>
                                       <td>Delivered</td
                             </tr>          
                                <tr>
                                    <td>2</td> 
                                    <td><10km</td>
                                    <td><10kg</td>
                                    <td>9USD</td>
                                    <td>Kayunga</td>
                                    <td>Pending</td>
                                    <td>Edit</td>
                                </tr> 
                </table>
            </div>
            <h2 class="landing">welcome to the world of better delivery</h2> 
        </div>   
    </body>
</html>        