<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
            <title>SendIT login</title>
        </head>
        <body>
                <h1>SendIT</h1>
                <h2>Convinience, timely and fast delivery.</h2>
            <div class="Judo">
                <form action="signup.html">
                    <div id="come">
                            
                       <h3>LOGIN</h3> 
                       <input type="text"placeholder="email"email">
                    </div><br>
                    <div>
                        <input type="password"placeholder="password" name="password">
                    </div><br>
                    <div>
                            <select id="user" name="user">
                                    <option value="admin">Admin</option>
                                    <option value="attendant">user</option>
                                </select>
                            <button type="button">Login</button>
                    </div>   
                </form>

            </div>
            <h2 class="hello">welcome to the world of better delivery, where timely and perfect delivery matters.We are here to cover your wide range of Parcel delivery needs.</h2>
        </body>

</html>        