<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
            <title>SendIT login</title>
        </head>
        <body>
                <h1>SendIT</h1>
                <h2>Convenient, timely and fast delivery.</h2>
                <div class="left">
                        <a  href="index.html">Home</a>
                </div> 
            <div class="Judo">
                <form action="delivery.html">
                    <div id="come">     
                        <h1>LOGIN</h1> 
                        <input type="email"placeholder="email"email" required>
                    </div><br>
                        <div>
                            <input type="password"placeholder="password" name="password" required>
                         </div><br>
                        <div>
                            <select id="user" name="user">
                                    <option value="admin">Admin</option>
                                    <option value="user">user</option>
                                </select><br><br>
                            <button type="submit">Login</button>
                    </div>   
                </form>

            </div>
            <h2 class="landing">welcome to the world of better delivery, where timely and perfect delivery matters.We are here to cover your wide range of Parcel delivery needs.</h2>
        </body>
</html>        