<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
            <title>SendIT signup</title>
        </head>
            <body>     
                    <h2>Create A SendIT account</h2>
                    <div class="Judo"> 
                        <form action="login.html">
                            <label>
                                <input type="text" name="email" placeholder="email@">
                            </label><br><br>
                            <label>
                                 <input type="password" name="pasword" placeholder="Password">
                            </label><br><br>
                                <label>
                                    <input type="password" name="pasword" placeholder="Confirm Password"><br><br>
                                    <h3>Signup as:</h3>
                                    <select id="user" name="user">
                                            <option value="admin">Admin</option>
                                            <option value="attendant">user</option>
                                    </select><br><br>
                                    <button type="submit">signup</button>
                                </label>
                        </form><br><br><br><br><br><br><br><br>
                        <h2>Welcome to<strong> SendIT</strong> web services where effectiveness matters.</h2>>
                </div>
        </body>
</html>