body {
    font-size: 14px;
    font-family:  Helvetica, sans-serif;
    background: url("../static/images/delivery.jpg");
    background-size: cover;
    background-repeat:no-repeat; 
    background-color: #e6e6e6;
    min-width: 1042px;

}

#landing{
    padding-top: 1em;
    color: rgb(179, 240, 13);
    font-size: 2em;
    background: url("../static/images/parcel.jpg");
    background-size: cover;
    background-repeat:no-repeat; 
    font-family: -apple-system;
}
footer{
    padding-bottom: 40%;
}
footer li {
    list-style: none;
    align-items: center;
    display: inline ;
    padding-top: 20%;
   
}
footer ul li a{
   color: yellow;
   font-size: 2em;
   text-decoration: none;
   padding: 10px;  
}

h1{
    color: #1c1ce2;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(179, 240, 13);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif
}
.Judo{
    display: block;
    padding-left: 21em;
    padding-right: 12em;
    padding-top: 3em;
    padding-bottom: 3em;
    font-weight: 700;
   margin-left: 55px;
   margin-right: 55px;
   border-radius: 15px;
}
form {
    padding-right: 10em;
    
}

input{
    width: 100%;
    background-color: rgb(211, 208, 208);
    padding: 12px 20px;
    align-content: center;
    border-radius: 15px;

    box-sizing: border-box;
}
h3{
    font-family: Cambria, Cochin, Georgia;
    text-align: center;
}
button{
    border-radius: 15px;
    padding: 12px 2px;
    text-align: center;
    width: 55%;
    font-size: 16px;

} 

legend {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    color: aqua;
    
}
#history{
    float: center;
}

#TD{
    
    
}
.me{
    width: 50%;
    background-color: antiquewhite;
    padding: 12px 20px;
    align-content: center;
    border-radius: 15px;
    margin: 8px 0;
    box-sizing: border-box; 
}

.left{
   float: right;
   font-size: 2em;
   padding-right: 10%;
}
.left a{
    color: aqua;
    text-decoration: none;
} 
